#titleContainer {
  width: 100%;
  background-color: black;
}

#titleName,
#titleInstructions {
  text-align: center;
  color: white;
}

#titleName {
  padding-top: 7rem;
}

#titleInstructions {
  padding-bottom: 5rem;
}