#titleContainer {
  width: 100%;
  background-color: black;
}

#titleName,
#titleTagline,
#titleInstructions {
  text-align: center;
  color: white;
}

#titleName {
  padding-top: 8rem;
  font-size: 3.5rem;
}

#titleInstructions {
  padding-top: 7rem;
  padding-bottom: 6rem;
}