#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: rgb(14, 27, 148);
  text-align: center;
  height: 4.6875rem;
  font-size: 1.125rem;
  line-height: 4.6875rem;
  font-weight: bold;
  color: white;
  padding-left: 1.875rem;
}

#gameTitle {
  float: left;
}

#scoreDiv {
  float: right;
  padding-right: 1rem;
}

#currentScore {
  padding-right: 1rem;
}

#topScore {
  padding-left: 1rem;
}

#message {
  font-size: 1.75rem;
}

@media screen and (max-width: 980px) {

  #navbar {
    position: static;
    height: 3rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
  }

  #gameTitle,
  #message,
  #scoreDiv {
    width: 100%;
    font-size: 1rem;
    padding: 0;
    height: 3rem;
    line-height: 3rem;
  }

}