#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: rgb(14, 27, 148);
  text-align: center;
  height: 75px;
  font-size: 18px;
  line-height: 75px;
  font-weight: bold;
  color: white;
  padding-left: 30px;
}

#gameTitle {
  float: left;
}

#currentScore,
#divider,
#topScore {
  float: right;
  padding-right: 15px;
}
